### 학습목표
- bmi 데이터를 사용하여 머신러닝의 전체과정을 이해해보자
- knn 분류 모델을 사용해보자
- 하이퍼파라미터를 조정해보자

### 머신러닝 종류
1. 지도학습
   - 문제와 답이 주어진 상태에서 학습
   - 분류, 회귀
       - 분류 : 정답 데이터의 형태가 범주형 데이터일 때
       - 회귀 : 정답 데이터의 형태가 연속형 데이터일 때

2. 비지도학습
    - 문제에 대해서만 주어신 상태에서 학습(답을 알려주지 않는다)
    - 데이터의 숨겨진 특성, 구조, 패턴을 파악 -> 클러스터링(군집화)

3. 강화학습
    - 완전한 답을 제공하지 않음
    - 더 큰 보상을 얻을 수 있는 방향으로 학습을 진행
    - ex) 알파고

### 머신러닝 단계
1. 문제 정의 : 지도 vs 비지도, 필요한 데이터 정의, 분류 vs 회귀
2. 데이터 수집 : 크롤링, db, 공공데이터포털, 설문조사
3. 데이터 전처리 : numpy, pandas 활용
4. 탐색적 데이터 분석(EDA)
    - 특성 의미 파악(기술통계 : 평균, 최소, 최대, 중앙값, 최빈, 표준편차...)
    - 특성간의 상관관계
    - 그래프를 출력해서 의미 파악 : numpy, pandas, matplotlib
5. 모델 선택, 하이퍼파라미너(사람 지정 매개변수) 조정
6. 모델 학습
7. 모델 평가 및 예측

### 1. 문제 정의
- 500명의 키, 몸무게 데이터를 통해서 비만도를 판별하는 모델 생성
- 분류 모델활용 -> 6가지의 class로 분류하는 판별기를 만들어보자!

In [1]:
# 필요한 도구 불러오기
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

### 2. 데이터 수집
- csv 파일 불러오기

In [3]:
data = pd.read_csv('./data/bmi_500.csv')
data

     Gender  Height  Weight            Label
0      Male     174      96          Obesity
1      Male     189      87           Normal
2    Female     185     110          Obesity
3    Female     195     104       Overweight
4      Male     149      61       Overweight
..      ...     ...     ...              ...
495  Female     150     153  Extreme Obesity
496  Female     184     121          Obesity
497  Female     141     136  Extreme Obesity
498    Male     150      95  Extreme Obesity
499    Male     173     131  Extreme Obesity

[500 rows x 4 columns]

### 3. 데이터 전처리
- 결측치 대체 or 제거
- 이상치 대체 or 제거
- 데이터 split(train set과 test set을 분리)

In [7]:
# 위에서부터 5개 행만 출력
data.head()

   Gender  Height  Weight       Label
0    Male     174      96     Obesity
1    Male     189      87      Normal
2  Female     185     110     Obesity
3  Female     195     104  Overweight
4    Male     149      61  Overweight

In [8]:
# 아래부터 5개 행만 출력
data.tail()

     Gender  Height  Weight            Label
495  Female     150     153  Extreme Obesity
496  Female     184     121          Obesity
497  Female     141     136  Extreme Obesity
498    Male     150      95  Extreme Obesity
499    Male     173     131  Extreme Obesity

In [10]:
# 데이터 크기 정보 확인
data.shape

(500, 4)

In [12]:
# 데이터 차원 확인
data.ndim

2

In [13]:
# 데이터 정보 확인
# 컬럼명, 컬럼개수, 행 개수, 결측치여부, 데이터 타입
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500 entries, 0 to 499
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Gender  500 non-null    object
 1   Height  500 non-null    int64
 2   Weight  500 non-null    int64
 3   Label   500 non-null    object
dtypes: int64(2), object(2)
memory usage: 15.8+ KB