### 학습목표
- 공부시간에 따른 성적데이터를 기반으로 선형회귀를 이해해보자
- 경사하강법의 개념을 이해하고 사용해보자!

In [1]:
# 성적데이터 생성을 위한 라이브러리 불러오기
import pandas as pd
import matplotlib.pyplot as plt

In [6]:
# 성적데이터 생성
data = pd.DataFrame([[2, 20], [4, 40], [8, 80], [9, 90]], index=['자영', '다이', '준용', '예진'], columns=['시간', '성적'])
data

    시간  성적
자영   2  20
다이   4  40
준용   8  80
예진   9  90